<div class="container container-top">
    <div class="card main">
        <div class="card-header">
            <h3 style="text-align: center;"><strong>Programs</strong></h3>
            <button class="btn btn-primary pull-right" [routerLink]="['/home']">More Programs</button>
        </div>
        <div class="card-body menu">
            <div class="container">
                <div class="main-table">
                    <table class="table table-hover">
                    <thead class="thead-light">
                        <tr>
                            <th>Program Name</th>
                            <th>Location</th>
                            <th>Day</th>
                            <th>Time</th>
                            <th>Date</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let program of programs">
                            <td>{{program.name}}</td>
                            <td>{{program.location}}</td>
                            <td>{{program.day}}</td> 
                            <td>{{program.startTime}} - {{program.endTime}}</td>
                            <td>{{program.startDate}} - {{program.endDate}}</td>
                            <td><button class="btn btn-danger">Cancel</button></td>
                        </tr>
                    </tbody>
                 </table>
                </div>
            </div>
        </div>
    </div>
</div>
