.container-top {
    margin-top: 50px;
}

.btn {
    margin-left: 5px; 
}

.table-header {
    text-align: center;
}

label {
    padding-right: 15px;
}

.weekday {
    width: 20px; height: 20px;
    margin-right: 25px;
}




